<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Main Page</title>
		<title>categorize.us</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css" />
        <link rel="stylesheet" type="text/css" href="css/categorizeus.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />
        <script src="js/categorizeus.js"/>
        <script src="js/handlebars-v3.0.3.js"/>
        <script type="text/javascript">
        	$(document).ready(function(){
        		console.log("Here we go then");
        		initialize();
        	});
        </script>
        <script id="post-template" type="text/x-handlebars-template" href="templates/post.hbrs"/>
    </head>

    <body>


        <div th:replace="fragments/header :: userInfo"/>
        <div id="search">
			<input type="text" width="250" id="txtSearch"/> 
			<input type="button" id="btnSearch" value="Search"/> 
			<input type="button" id="btnLoad" value="Load"/>               
        </div>
                 <div class="newThread" style="display:none">
        		</div>		  
        <div id="output"></div>
        <div class="container">

           	<div th:replace="fragments/exception :: errorInfo"/>

        </div><!-- /.container -->
        
        <!--
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        
        
        -->
    </body>
</html>